.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.weathers {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}
.weather {
  margin-right: 25px;
  padding: 10px;
  border: 1px solid #e9eaeb;
  border-radius: 5px;
}
.weather .temp {
  font-size: 14px;
  color: #717070;
  font-weight: 600;
}
.city-selector {
  padding: 20px;
  background-color: #f3f7fe;
}
.city-selector select {
  padding: 5px 10px;
    border-radius: 5px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
